<div class="container-fluid col-md-10">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">{{ team.name }}</li>
        <li class="list-group-item">{{ team.shortName }}</li>
        <li class="list-group-item">{{ team.tla }}</li>
        <li class="list-group-item">
          <img src="{{ team.crestUrl }}" alt="logo squad" width=100 height=100>
        </li>
        <li class="list-group-item">{{ team.address }}</li>
        <li class="list-group-item">{{ team.phone }}</li>
        <li class="list-group-item">{{ team.website }}</li>
        <li class="list-group-item">{{ team.email }}</li>
        <li class="list-group-item">{{ team.founded }}</li>
        <li class="list-group-item">{{ team.clubColors }}</li>
        <li class="list-group-item">{{ team.venue }}</li>
      </ul>
    </div>
  </div><br><br>

  <table class="table table-striped offset-lg-2 col-lg-8">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Country of Birth</th>
        <th scope="col">Nationality</th>
        <th scope="col">Shirt #</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of team.squad">
        <td>{{ player.name }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        <td>{{ player.countryofBirth }}</td>
        <td>{{ player.nationality }}</td>
        <td>{{ player.shirtNumber }}</td>
        <td>{{ player.role }}</td>
      </tr>
    </tbody>
  </table>
</div>
